# packages required to run example notebooks
jupyterlab>=3.0.0
# matplotlib>=3.3.2
mistune>=2.0.3 # not directly required, pinned by Snyk to avoid a vulnerability
jupyter-core>=5.8.0 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.32.4 # not directly required, pinned by Snyk to avoid a vulnerability
